accelerate==0.6.2
beautifulsoup4==4.11.1
benepar==0.2.0
datasets==2.0.0
gensim==4.2.0
joblib==1.1.0
loguru==0.6.0
matplotlib==3.5.1
nltk==3.7
numpy==1.22.3
pandas==1.4.1
paraphrase_metrics==0.0.1
requests==2.27.1
seaborn==0.11.2
sentence_transformers==2.2.0
similarity==0.0.1
simplejson==3.17.6
spacy==3.3.0
strsim==0.0.3
torch==1.11.0
tqdm==4.63.0
transformers==4.17.0
wandb==0.12.17
wordtodigits==1.0.2
